<div>
  <h1>Score</h1>
  <p>
    Your word: <strong><%= @word %></strong>
  </p>
  <p>
    Your result: <strong><%= @result%></strong>
  </p>
  <p>
    Your score is now: <strong><%= @score %></strong>
  <p>
    <%= link_to "Play again", root_path %>
  </p>
</div>
